@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.welcome-frame {
  width: 80%;
  margin: 50px auto 0;
  padding: 30px 25px;
  background-color: #FFFFFF;
  color: #212121; }
  .welcome-frame-greeting {
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #424242; }
  .welcome-frame-text {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.2rem;
    line-height: 1.5; }
  .welcome-frame-sign {
    font-size: 1.2rem;
    line-height: 1.5; }
  .welcome-frame-btn {
    display: inline-block;
    margin-top: 40px;
    padding: .7em 1.1em;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #FFFFFF;
    background: #FF8080;
    border-radius: 8px;
    cursor: pointer; }
