@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.check-box {
  position: relative;
  cursor: pointer; }
  .check-box::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #808080;
    box-sizing: border-box;
    position: absolute;
    top: 11px; }
  .check-box--selected::before {
    content: '\2713';
    color: #fff;
    background-color: rgba(54, 179, 168, 0.9);
    border: none; }
  .check-box__label {
    color: #808080;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
    margin-top: 10px; }
    .check-box__label:hover {
      text-decoration-line: underline; }
