@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.info {
  padding-top: 70px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
  .info__container {
    width: 1100px;
    margin: 30px auto 0; }
  .info__bread-crumbs {
    color: #212121;
    font-size: 14px; }
  .info__title {
    margin-top: 30px;
    color: #212121;
    font-weight: 600;
    font-size: 48px; }
  .info__description {
    margin-top: 20px;
    color: #828282;
    font-size: 12px;
    text-transform: uppercase; }
    .info__description .info-description-link {
      color: #212121;
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer; }
  .info__main-photo {
    width: 100%;
    height: 400px;
    margin-top: 10px; }
    .info__main-photo .info-main-img {
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover; }
  .info__content {
    display: flex;
    margin-top: 30px; }
  .info__left-sidebar {
    width: 20%; }
  .info__sidebar-item {
    margin-top: 15px; }
    .info__sidebar-item:first-child {
      margin-top: 0; }
  .info__text {
    color: #828282;
    font-size: 18px;
    line-height: 29px; }
    .info__text p {
      margin-bottom: 20px; }
  .info__bottom-sidebar {
    display: flex;
    margin-bottom: 30px; }
  .info__bottom-item {
    margin-right: 15px; }
  .info__list-description {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 500; }
  .info .info-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px; }
    .info .info-list__item {
      width: 350px;
      box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1), -1px 0px 0px rgba(0, 0, 0, 0.1);
      border-radius: 3px; }
      .info .info-list__item .info-photo {
        height: 200px; }
        .info .info-list__item .info-photo__img {
          width: 100%;
          height: inherit;
          object-fit: cover; }
  .info__tag {
    margin-top: 20px;
    padding: 0 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7); }
  .info__subtitle {
    margin-top: 20px;
    padding: 0 20px 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: rgba(54, 179, 168, 0.9); }
