/*
@mixin cover-background ()
Creates a full width background image on an element.

-Parameters:
--Required:
$img-uri: URI of image you want to use as the background

--Optional:
$background-top:  Defaults to "center - sets the "top" value of the background position
$background-left: Defaults to "center - sets the "left" value of the background position.
$background-attachment: Defaults to "fixed" - allows you to specify background attachment.

*/
