@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.create-interview {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif; }
  .create-interview__input {
    margin-top: 0 !important; }
  .create-interview__select {
    margin: 0 !important; }
  .create-interview__container {
    width: 768px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 4px 12px 12px rgba(0, 0, 0, 0.08); }
  .create-interview__title {
    margin-top: 30px;
    font-weight: 600;
    font-size: 28px;
    color: rgba(54, 179, 168, 0.9);
    text-transform: uppercase; }
  .create-interview__talent_name {
    margin-top: 5px;
    font-weight: 600;
    font-size: 22px;
    color: #4f4f4f; }
  .create-interview__form {
    margin-top: 30px; }
  .create-interview__row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .create-interview__row--margin-bottom {
      margin-bottom: 10px; }
    .create-interview__row--margin-top {
      margin-top: 10px; }
    .create-interview__row--textarea {
      align-items: unset; }
  .create-interview__row-title {
    width: 25%;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    color: #212121; }
    .create-interview__row-title--margin-top {
      margin-top: 20px; }
  .create-interview__row-input {
    width: 75%; }
  .create-interview__submit {
    text-align: right;
    margin: 50px 0 30px; }
