@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.interview-dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px; }
  .interview-dashboard__left-side .upcoming-interviews, .interview-dashboard__left-side .interview-offers {
    width: 340px;
    min-height: 300px;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
  .interview-dashboard__right-side {
    width: 768px;
    min-height: 700px; }
  .interview-dashboard__talent-list {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px 20px 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
  .interview-dashboard__subtitle {
    color: #4F4F4F;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase; }
    .interview-dashboard__subtitle::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 10px;
      background-color: #BDBDBD; }
  .interview-dashboard__schedule-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; }
  .interview-dashboard .schedule-talent-info {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .interview-dashboard .schedule-talent-info__text {
      margin-left: 20px; }
    .interview-dashboard .schedule-talent-info__name {
      color: #4f4f4f;
      font-weight: 600;
      font-size: 1.2rem; }
    .interview-dashboard .schedule-talent-info__position {
      margin-top: 5px;
      font-size: 1rem;
      color: #828282; }
  .interview-dashboard .schedule-talent-status {
    font-size: 18px;
    color: #828282; }
  .interview-dashboard .jobs-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
    .interview-dashboard .jobs-pagination__item {
      margin: 0 10px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer; }
    .interview-dashboard .jobs-pagination__link {
      color: #828282; }
      .interview-dashboard .jobs-pagination__link--next::after {
        content: '\003E';
        color: #828282;
        display: block;
        font-size: 20px; }
      .interview-dashboard .jobs-pagination__link--prev::after {
        content: '\003C';
        color: #828282;
        display: block;
        font-size: 20px; }
      .interview-dashboard .jobs-pagination__link--active {
        color: #212121;
        position: relative;
        top: 2px; }
  .interview-dashboard .upcoming-info__item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer; }
  .interview-dashboard .upcoming-info__text {
    margin-left: 20px; }
  .interview-dashboard .upcoming-info__name {
    font-weight: 600;
    font-size: 18px;
    color: #4f4f4f; }
  .interview-dashboard .upcoming-info__position {
    font-size: 16px;
    color: #828282;
    margin-top: 5px; }
  .interview-dashboard .upcoming-info__date {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #FF3D00;
    font-size: 16px; }
  .interview-dashboard .upcoming-info__cirle {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #FF3D00;
    margin: 0 5px; }
  .interview-dashboard .upcoming-info__time {
    color: #FF8080; }
  .interview-dashboard .upcoming-info__description {
    font-size: 16px;
    color: #828282;
    margin-top: 10px; }
  .interview-dashboard .interview-offers {
    margin-top: 20px; }
    .interview-dashboard .interview-offers__item {
      margin-top: 10px; }
    .interview-dashboard .interview-offers__container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .interview-dashboard .offer-talent-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }
    .interview-dashboard .offer-talent-info__text {
      margin-left: 10px; }
    .interview-dashboard .offer-talent-info__name {
      font-weight: 600;
      font-size: 18px;
      color: #4f4f4f; }
    .interview-dashboard .offer-talent-info__position {
      font-size: 16px;
      color: #828282;
      margin-top: 5px; }
  .interview-dashboard .offer-talent-description {
    font-size: 16px;
    color: #828282;
    margin-top: 10px; }
  .interview-dashboard .interview-burger-menu {
    position: relative; }
    .interview-dashboard .interview-burger-menu--active::before {
      content: '';
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      background-color: #f2f2f2;
      left: 4px;
      top: 18px;
      transform: rotate(45deg);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
    .interview-dashboard .interview-burger-menu__list {
      display: flex;
      align-items: center;
      padding: 5px;
      cursor: pointer; }
    .interview-dashboard .interview-burger-menu__item {
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: #BDBDBD; }
      .interview-dashboard .interview-burger-menu__item:nth-child(odd) {
        margin: 0 3px; }
    .interview-dashboard .interview-burger-menu .interviews-menu {
      position: absolute;
      z-index: 10;
      top: 20px;
      left: -110px;
      width: 225px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff; }
      .interview-dashboard .interview-burger-menu .interviews-menu__item {
        padding: 10px 26px;
        font-weight: 600;
        font-size: 16px;
        color: #828282;
        cursor: pointer; }
        .interview-dashboard .interview-burger-menu .interviews-menu__item:hover {
          background-color: #f2f2f2; }
