@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Carter+One&display=swap");
.burger-container {
  display: none;
  position: relative;
  cursor: pointer; }
  .burger-container .menu-button__line {
    width: 30px;
    height: 3px;
    background-color: #e0e0e0;
    border-right: 2px; }
    .burger-container .menu-button__line:nth-child(2n) {
      margin: 7px 0; }

@media (max-width: 1024px) {
  .burger-container {
    display: block; } }
