@import '../../../../styles/_variables.scss';

.profileBuilderFieldsContainer {
  height: 100%;

  .profileBuilderTitle {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: $secondaryColor;
  }

  .requiredAttention, .previewTitle {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 3em;
  }

  .fieldsContainer {
    display: flex;
    width: 100%;

    .fieldsColumn {
      width: 50%;
      padding-left: 10px;

      &:first-of-type {
        padding: 0 10px 0 0;
      }

      &.fullSize {
        width: 100%;
        max-width: 100%;
        padding: 0;
      }
    }
  }

  .p-inputtext {
    font-size: 15px;
    font-family: $font-family-sans-serif;

    &:enabled {
      &:focus {
        box-shadow: none;
      }
    }
  }

  .addSkill {
    .p-inputtext {
      border-color: #BDBDBD;
      border-radius: 7px;
    }

    .skillInput {
      width: 50%;
      margin-right: 15px;
    }

    button {
      border-radius: 7px;
      background-color: $secondaryColor;
      opacity: .8;
      border: none;

      &:hover {
        background-color: $secondaryColor;
        opacity: .8;
      }

      &:focus {
        box-shadow: none;
      }

      &:active {
        background-color: $secondaryColor;
        opacity: 1;
      }
    }
  }

  .langItem {
    display: flex;
    width: 100%;

    .fieldDropdown {
      width: 40%;
      margin-right: 15px;
    }
  }

  .addLang, .removeLang {
    border: none;
    background-color: transparent;
    color: $secondaryColor;
    display: flex;
    align-items: center;

    .pi {
      font-size: 30px;
      margin-right: 10px;
    }

    &:active {
      opacity: .8;
    }
  }

  .removeLang {
    color: $COLOR_GREY;
    height: 38px;
    opacity: .3;

    &:hover {
      opacity: 1;
    }
  }

  .description {
    resize: none;
  }

  &.preview {
    .fieldsContainer{
      margin-bottom: 10px;
    }
    .fieldsColumn{
      width: 25%;
    }
    .jobDescription{
      font-size: 14px;
      opacity: .8;
    }
    p {
      font-size: 18px;
    }
  }

}

.profileBuilderButtonsContainer {
  display: flex;
  align-items: center;
  padding: 30px 0 0 0;
  justify-content: flex-end;

  .accent-btn, .accent-btn__transparent {
    margin-left: 25px;
    position: relative;
    padding: 10px;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .accent-btn {
    i {
      right: 10px;
    }
  }

  .accent-btn__transparent {
    i {
      left: 10px;
    }
  }

}

