@import '../../../../styles/_variables.scss';

.profileBuilderFieldsContainer {
  height: 100%;

  .profileBuilderTitle {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: rgba(0, 132, 137, 0.9);
  }

  .requiredAttention {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 3em;
  }
  .fieldsContainer{
    display: flex;
    width: 100%;
    .fieldsColumn{
      width: 50%;
      padding-left: 10px;
      &:first-of-type{
        padding: 0 10px 0 0;
      }
    }
  }
  .p-inputtext{
    font-size: 15px;
    font-family: $font-family-sans-serif;
  }
}

.profileBuilderButtonsContainer {
  display: flex;
  align-items: center;
  padding: 30px 0 0 0;
  justify-content: flex-end;

  .accent-btn, .accent-btn__transparent {
    margin-left: 25px;
    position: relative;
    padding: 10px;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .accent-btn {
    i {
      right: 10px;
    }
  }

  .accent-btn__transparent {
    i {
      left: 10px;
    }
  }
}

